body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbar-item {
    padding: 14px 20px;
}

.navbar-item a {
    color: white;
    text-decoration: none;
    display: block;
}

.navbar-item a:hover {
    background-color: #575757;
}
