*{
    margin : 0;
    padding : 0;
    font-family: 'Poppins', sans-serif;
    box-sizing : border-box;
}
.container{
    width : 100%;
    height : 100vh;
    background-color: beige;
    align-items: center;
    justify-content: center; 
    display: flex;
}
.calculator{
    padding: 20px;
    background: rgba(0, 0, 0, 0.84);
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    width: 60px;
    height: 60px;
    background: transparent;
    outline: 0;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.2);
    border-radius: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow:  none;
}
form input.equal{
    width: 145px;
}

form input.operator{
    color: aqua;
}

.history{
    max-height: 600px;
    overflow-y: auto;
    margin-bottom: 12px;
    text-align: justify;
    font-size: 20px;
    text-decoration-color: #f1e904;
    
}
.history div{
    margin : 6px 0;
    color: #111;
    border-bottom: 2px solid #111;
}
.top-panel{
    display: flex;
    justify-content: flex-end;
}
.history-btn{
    background-color: transparent;
    border: none;
    color : aqua;
    cursor :pointer;
    margin-bottom: 10px;
    font-size: 22px;
}
.history-panel{
    position: fixed;
    top : 0;
    right : -300px;
    width : 300px;
    height: 100vh;
    background : #efeda7;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: right 0.3s ease;
    font-size: 16px;
}
.history-panel h3{
text-align: left;
margin-bottom: 15px;
}
.history-panel.active{
    right: 0;
}
