*{
    margin : 0;
    padding : 0;
    font-family: 'Poppins', sans-serif;
    box-sizing : border-box;
}
.container{
    width : 100%;
    height : 100vh;
    background-color: beige;
    align-items: center;
    justify-content: center; 
    display: flex;
}
.calculator{
    padding: 20px;
    background: black;
    border-radius: 10px;
}