body{
    background: linear-gradient(gold, darkorange); /* Dark background color */
}

nav{
    background-color: bisque;
    color: rgb(225, 132, 17);
    border:  2px solid rgb(231, 8, 8);
    border-radius: 30px;
}
nav h1{
    text-align: center;
    padding: 10px;
}
#form{
    border-radius: 30px;
    border: 2px solid rgb(231, 8, 8);
    padding: 80px;
    margin: 50px 50px;
    background-color: bisque;
    align-items: center;
}
form input , form textarea{
    display: block;
    width: 100%;
    /* height: 100vh; */
    padding: 10px;
    font-size: 30px;
    margin-bottom: 50px;
    border-radius: 20px;
    border: 2px solid rgb(231, 8, 8);
    text-align: center;
    align-items: center;
}
form button {
    background-color: rgb(231, 8, 8);
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-left: 45%;
}

form button:hover {
    background-color: rgb(200, 0, 0);
}