*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #080808; /* Dark background color */
    color:#fff ; /* White text color */
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/neww.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 200px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}

nav ul li a:hover{
    color: #dcb610;
    content: '';
    width: 100%;
    height: 3px;
    position: static;
    left: 0;
    bottom: -6px;
    margin-top: 0%;
    transition: 0.5s;
    /* background: #fff; */

}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-bottom: 20px;
}
.header-text h1 span{
    color: #dcb610;
}
nav .fas{
    display: none;
}
/* -- ----------------about---------------- -- */
#about{
    padding: 80px 0;
    color: #fff;
    
}
.row{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;

}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
   font-size: 60px;
   font-weight: 600; 
   color: #dcb610;
}
                            
.tab-titles{
    display: flex;
    /* justify-content: space-between; */
    margin: 20px 0 40px;

}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #dcb610;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-links:hover::after {
    width: 100%;  /* underline fully expands on hover */
}
.tab-contents ul li{
    list-style: none;
    padding: 10px 0;
}

.tab-contents ul li span{
    color: #816c05;
    padding-right: 14px;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab {
    display: block;
}

/* -----------------------services-------------------- */
#services{
    padding: 30px 0;
    
}
.service-list{
    display: grid;
    /* justify-content: space-between; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.service-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 15%;
    border: 2px solid #e68d07;
    text-align: center;
    transition: background 0.5s , transform 0.5s;
}  
.service-list div i{
    font-size: 50px;
    color: #940707;
    margin-bottom: 20px;
} 

.service-list div h2{
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 500;
}
.service-list div a{
    text-decoration: none;
    color: #fff;
    /* font-weight: 500; */
    font-size: 12px;
    margin-top:20px ;
    display: inline-block;
}
.service-list div:hover {
    transform: translateY(-10px);
    background: #e68d07;
}

/* <!-- ----------portfolio----------------   --> */

#portfolio{
    padding: 50px 0;
}
.work-list{
       display: grid;
    /* justify-content: space-between; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.work img{
    width: 100%;
    /* transition: transform 0.5s; */
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #dcb610,#e68d07);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom:0 ;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #dcb610;
    text-decoration: none;
    line-height: 60px;
    font-size: 18px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #dcb610;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #dcb610;
    color: #000;
}

/* <!-- ---------------contact---------------- --> */
.cont-left{
    flex-basis: 35%;
}
.cont-right{
    flex-basis: 60%;
}
.cont-left p{
    margin-top: 30px;

}
.cont-left p i{
    color: #dcb610;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    margin-right: 15px;
    transition: color 0.5s;
    display: inline-block;

}
.social-icons a:hover{
    color: #dcb610;
    transform: translateY(-10px);

}
.btn.btn2{
    display: inline-block;
    background: #e68d07;
}

.cont-right form{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    width: 100%;
}

form input,form textarea{
    width: 100%;
    border: 0;
    background: #262626;
    outline: none;
    padding: 15px;
    margin:15px 0 ;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size:18px ;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #262626;
    color: #fff;
    font-weight: 300;
}
.copyright i{
    color: #dcb610;
}



/* ------------------------------css for responsive------------------------ */



@media only screen and (max-width: 600px){
    nav .fas{
    display: block;
    font-size: 25px;
}
    #header{
        background-image: url(images/potr_1.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
        margin-bottom: 10px;
    }
nav ul{
    position: fixed;
    top: 0;
   right: -200px;
    background: #c47703;
    width: 200px;
    height: 100vh;
    text-align: center;
    transition: right 0.5s;
    padding-top: 50px;
    z-index: 2;

}
nav ul li{
    display: block;
    margin: 25px 0;
}
nav ul .fas{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}
.sub-title{
    font-size: 40px;

}
.about-col-1,.about-col-2{
flex-basis: 100%;
}
.about-col-1{
    margin-bottom:30px;
}
.about-col-2{
    font-size: 14px;
}
.tab-links{
    font-size: 16px;
    margin-right: 30px;
}
.cont-left, .cont-right{
    flex-basis: 100%;
}
.copyright{
    font-size: 14px;
}

}