*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 100%;
    min-height:100vh ;
    background: linear-gradient(135deg , #153677 , #4e085f);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    color: #153677;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #979191;
    border-radius: 30px;
    padding-left: 20px;
    margin-left: 25px;
    
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;

}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #5a035a;
    color: #fff;
    font-size: 16px;
    cursor : pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    padding: 12px 8px 12px 50px ;
    font-size: 17px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #555; /* circle outline */
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    background-color: transparent;
}

ul li.checked::before {
    background-color: #5a035a; /* fill circle when checked */
    border-color: #5a035a;
}
ul li.checked {
    color: #888;
    text-decoration: line-through;
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22x;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #5a035a;
    color: #fff;

}
