
@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}

nav{
     font-family: "Winky Rough", sans-serif ;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: #000;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;

}
.container{
    min-height: 75vh;
}
.bottom{
    position:sticky;
    height: 130px;
    background-color: #000;
    bottom: 0;
}